h1 {
  transform: translateX(-25px);
}

body {
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  background-image:url("PEWDIEPIE.jpg");

}
nav {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.p1 {
margin: 0px;
}

header {
display: flex;
flex-direction: row;
color: white;
background-color: black;
border-bottom:#1b1b1c 3px solid;

}
header h1 {
margin: auto;
}
table {
color: white;
  background: #000000;
  padding: 5px;
  width: relative;
  height: relative;
  border:#4d0026 3px solid;

}

input{
  display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4d0026 ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 300px;

  }

  input:hover {background-color: GREY}

  input:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }


.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;

}

.dropbtn {
background-color: #4d0026;
color: black;
padding: 16px;
font-size:16px;
border: none;
height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(18, 17, 17, 0.7);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;

}

.dropdown-content a:hover {background-color: grey;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4d0026;}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(18, 17, 17, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
 justify-content: space-around;

}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: Grey;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.video {
  display: flex;
  justify-content: center;
margin: 10px;
}

iframe {
border: 4px solid black;
}

@media screen and (max-height: 800px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    position: center;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
   justify-content: space-around;
   align-items: center;
   }
   input {
     margin: 20px;

   }





}
