body {
	/* Innehållet i body går enda ut i kanten */
	margin: 0;
}
a{
	text-decoration: none;
	color: black;


}
.content {
	/* Använd flex */
	display: flex;
flex-basis: 10px;
	/* flex items orienterade horisontellt */
	flex-direction: column;
	background-color: white;
}
.hoger {
	flex-basis: 40%%;
	background-color: green;
		flex-direction: column;
	 font-family: 'Allerta Stencil', sans-serif;
}
.mid {
flex-basis: 40%;
background-color: cyan;
flex-direction: column;
font-family: 'Allerta Stencil', sans-serif;
}

}
@media only screen and (max-width: 1080px) {

	.content {
    /* Om skärmen är liten lägger sig vanster
    och hoger under varandra, orienterade vertikalt */
		flex-direction: column;
	}
}
 Test 1 Test 2 Test 3
